<div class="col-sm-6 col-xs-6 col-md-4">
    <div class="thumbnail tile tile-medium tile-alizarin">
        <a href="/s/sale" class="fa-links">
            <h1>{{"modalName.sale" | translate }}</h1>
                <i class="fa fa-3x fa-shopping-cart"></i>
        </a>
    </div>
</div>

<div class="col-sm-6 col-xs-6 col-md-4">
    <div class="thumbnail tile tile-medium tile-orange">
        <a href="/s/member" class="fa-links">
            <h1>{{"modalName.member" | translate }}</h1>
                <i class="fa fa-3x fa-address-card-o"></i>
        </a>
    </div>
</div>

<div class="col-sm-6 col-xs-6 col-md-4">
    <div class="thumbnail tile tile-medium tile-turquoise">
        <a href="/s/commodity" class="fa-links">
            <h1>{{"modalName.commodity" | translate }}</h1>
                <i class="fa fa-3x fa-cubes"></i>
        </a>
    </div>
</div>

<div class="col-sm-6 col-xs-6 col-md-4">
    <div class="thumbnail tile tile-medium tile-wisteria">
        <a href="/s/activity" class="fa-links">
            <h1>{{"modalName.activity" | translate }}</h1>
                <i class="fa fa-3x fa-share-alt-square"></i>
        </a>
    </div>
</div>

<div class="col-sm-6 col-xs-6 col-md-4">
    <div class="thumbnail tile tile-medium tile-sun-flower">
        <a href="/s/memberClass" class="fa-links">
            <h1>{{"modalName.memberClass" | translate }}</h1>
                <i class="fa fa-3x fa-diamond"></i>
        </a>
    </div>
</div>

<div class="col-sm-6 col-xs-6 col-md-4">
    <div class="thumbnail tile tile-medium tile-peter-river">
        <a href="/s/vendors" class="fa-links">
            <h1>{{"modalName.vendors" | translate }}</h1>
                <i class="fa fa-3x fa-bank"></i>
        </a>
    </div>
</div>